server:
  port: ${AUTH_SERVICE_PORT}
grpc:
  server:
    port: ${AUTH_SERVICE_PORT}
spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_AUTH_SERVICE_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      repositories:
        enabled: false
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
jwt:
  secret: ${JWT_SECRET}
  issuer: codistrib-auth
  access-token-validity-seconds: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-validity-seconds: ${JWT_REFRESH_TOKEN_EXPIRATION}
management:
  endpoints:
    web:
      exposure:
        include: health,info